.spread-cards{
    box-sizing: border-box;
    box-sizing: content-box;
    width: 800px;
    background: #FFF756;
    border-radius: 8px 8px 0px 8px;
    margin: 250px;
    margin-bottom: 0px;
    margin-top: 0px;

    align-items: center;
    display: flex;
    justify-content: center;
    
}

.card{
    margin: 16px;
}