@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Heebo',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC90C !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-content{
  border: double 0.75rem #555;
    box-shadow: inset 0 0.25rem 0 #555, 0 0.25rem 0 #555;
    background-color: #FFF756;
    color: #555;
    font-family: "Pokemon GB", monospace;
    font-weight: 400;
    font-size: 20px;
}

.modal-footer button{
  background: #FFCD0C;
    border-color: #FFCD0C;
}
